In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import tensorflow as tf
%matplotlib inline

In [2]:
df = pd.read_csv('../train/KPI/train_1c35dbf57f55f5e4.csv',index_col='timestamp')

In [3]:
df.groupby(df.label).count()

        value  KPI ID
label
0      119272  119272
1        9581    9581

In [4]:
mu = df['value'].mean()
std = df['value'].std()

In [5]:
df[df['label']==1].value.mean(), df[df['label']==1].value.std()

(1453.701324784563, 340.3775581865926)

### Playground

In [6]:
df[ (df['value'] > (mu + 2 * std)) ]

                         value  label            KPI ID
timestamp
2017-05-02 04:07:00  1697.6875      1  1c35dbf57f55f5e4
2017-05-02 04:08:00  2051.6875      1  1c35dbf57f55f5e4
2017-05-02 04:09:00  1648.1250      1  1c35dbf57f55f5e4
2017-05-03 07:05:00  1550.3125      0  1c35dbf57f55f5e4
2017-05-03 07:11:00  1522.1250      0  1c35dbf57f55f5e4
...                        ...    ...               ...
2017-07-28 08:03:00  1608.2500      1  1c35dbf57f55f5e4
2017-07-28 15:37:00  1577.6875      0  1c35dbf57f55f5e4
2017-07-28 15:42:00  1514.0000      0  1c35dbf57f55f5e4
2017-07-28 15:45:00  1525.1250      0  1c35dbf57f55f5e4
2017-07-30 17:00:00  1510.3750      0  1c35dbf57f55f5e4

[3208 rows x 3 columns]

In [7]:
a = df[ (df['value'] > (mu + 1 * std)) ]
b = a.label.groupby(a.label).count()
b[1] / (b[0] + b[1] ) * 100

78.11422944362383

In [8]:
a.label.groupby(a.label).count()

label
0    1778
1    6346
Name: label, dtype: int64

In [9]:
c = df[ (df['value'] < (mu - 2.1 * std)) ]
d = c.label.groupby(c.label).count()
d[1] / (d[0] + d[1] ) * 100

52.38095238095239

In [10]:
d

label
0    10
1    11
Name: label, dtype: int64

In [11]:
def format_df(df_func):
    
    if df_func.empty:
        df_func = pd.DataFrame(np.array([[0, 0], [1,0]]), columns=['label','freq'])
        df_func = df_func.set_index('label')
    
    elif df_func.shape[0] == 1:
        idx_c = 0

        idx_v = df_func.index[0]
        val_v = np.array(df_func)[0]

        if idx_v == 0:
            idx_c = 1

        df_func = pd.DataFrame(np.array([[idx_v, val_v], [idx_c,0]]), columns=['label','freq'])
        df_func = df_func.sort_values(by='label')
        df_func = df_func.set_index('label')

    else:
        vals = np.array(df_func)
        df_func = pd.DataFrame([[df_func.index[0], vals[0]], [df_func.index[1],vals[1]]], columns=['label','freq'])
        df_func = df_func.sort_values(by='label')
        df_func = df_func.set_index('label')

    return df_func

In [12]:
input_dir = './../train/KPI/'
# up_limit = 0.5
# low_limit = 0.5

summary = pd.DataFrame(columns=['St', 'Anom', 'St_up', 'Anom_up', 'St_down', 'Anom_down'])


arr = [[None,0,0,0,0,0,0] for x in range(26)]
up_limit = 0.49
low_limit = 0.49

while up_limit < 3:
    up_limit += 0.01
    low_limit += 0.01
    up_limit = round(up_limit,2)
    low_limit = round(low_limit,2)
#     summary = pd.DataFrame(columns=['St', 'Anom', 'St_up', 'Anom_up', 'St_down', 'Anom_down'])
    
    i=0
    
    for fname in os.listdir(input_dir):
        df  = pd.read_csv(os.path.join(input_dir, fname), index_col='timestamp')

        # Check Labels
        x = df.label.groupby(df.label).count()
        g, b = x[0], x[1]
        # print(g,b)

        mu = df['value'].mean()
        std = df['value'].std()

        upper = df[ (df['value'] > (mu + up_limit * std)) ]
        upper = upper.label.groupby(upper['label']).count()
        lower = df[ (df['value'] < (mu - low_limit * std)) ]
        lower = lower.label.groupby(lower['label']).count()

#         print(fname)
    #     print(upper)
    #     print(lower)

        upper = format_df(upper)
        lower = format_df(lower)


#         summary = summary.append({'St': g, 'Anom': b, 'St_up': upper['freq'][0], 'Anom_up': upper['freq'][1], 'St_down': lower['freq'][0], 'Anom_down': lower['freq'][1]}, ignore_index=True)

        up_ratio = (upper['freq'][1] - upper['freq'][0]) / b
        up_prec  = upper['freq'][1]/(upper['freq'][1] + upper['freq'][0])
        low_ratio = (lower['freq'][1] - lower['freq'][0]) / b
        low_prec  = lower['freq'][1]/(lower['freq'][1] + lower['freq'][0])
        
        

        
        if up_ratio > arr[i][2]:
            arr[i][0] = fname
            arr[i][1] = up_limit
            arr[i][2] = up_ratio
            arr[i][3] = up_prec
            
        if low_ratio > arr[i][5]:
            arr[i][0] = fname
            arr[i][4] = low_limit
            arr[i][5] = low_ratio
            arr[i][6] = low_prec
            
        i += 1
        
#         summary.to_csv('Data' + str(up_limit) +'.csv')
        
#     df['Pred'] = 0
#     df.loc[ ( (df['value'] > (mu + 1.7 * std)) | (df['value'] < (mu - 2.1 * std)) ), 'Pred' ] = 1
    
# print(summary)

/home/millana/anaconda3/envs/machineLearning/lib/python3.7/site-packages/ipykernel_launcher.py:50: RuntimeWarning: invalid value encountered in long_scalars
/home/millana/anaconda3/envs/machineLearning/lib/python3.7/site-packages/ipykernel_launcher.py:48: RuntimeWarning: invalid value encountered in long_scalars

In [13]:
# summary.to_csv('Data' + str(up_limit) +'.csv')

In [17]:
mirror = pd.DataFrame(arr, columns=['df_Name','up_limit','up_ratio','up_anom_perc','lo_limit','lo_ratio','lo_anom_perc'])

In [18]:
mirror

,df_Name,up_limit,up_ratio,up_anom_perc,lo_limit,lo_ratio,lo_anom_perc
0,train_a40b1df87e3f1c87.csv,2.72,0.018373,0.888889,2.06,0.154856,0.953846
1,None,0.00,0.000000,0.000000,0.00,0.000000,0.000000
2,train_da403e4e3f87c9e0.csv,2.92,0.069789,0.983725,1.49,0.857944,0.999544
3,train_046ec29ddf80d62e.csv,0.00,0.000000,0.000000,1.62,0.737500,1.000000
4,train_18fbb1d5a5dc099d.csv,0.67,0.076561,0.866180,0.50,0.017296,1.000000
5,train_09513ae3e75778a3.csv,0.00,0.000000,0.000000,2.91,0.008403,0.750000
6,train_07927a9a18fa19ae.csv,0.00,0.000000,0.000000,1.54,0.538462,0.972973
7,train_cff6d3c01e6a6bfa.csv,2.96,0.009200,0.916667,1.98,0.051518,0.966667
8,None,0.00,0.000000,0.000000,0.00,0.000000,0.000000
9,None,0.00,0.000000,0.000000,0.00,0.000000,0.000000
10,train_7c189dd36f048a6c.csv,2.74,0.009390,1.000000,2.11,0.122066,1.000000
11,train_8bef9af9a922e0b3.csv,2.49,0.007590,1.000000,2.09,0.056926,1.000000
12,train_40e25005ff8992bd.csv,2.77,0.009174,1.000000,2.14,0.059633,1.000000
13,train_76f4550c43334374.csv,0.00,0.000000,0.000000,1.53,0.724138,1.000000
14,train_affb01ca2b4f0b45.csv,2.70,0.011986,1.000000,2.07,0.075342,0.978261
15,train_88cf3a776ba00e7c.csv,2.48,0.007405,1.000000,1.80,0.111075,0.997118
16,train_9bd90500bfd11edb.csv,0.00,0.000000,0.000000,2.03,0.006993,1.000000
17,train_e0770391decc44ce.csv,2.70,0.050098,0.993590,1.90,0.811321,0.999199
18,None,0.00,0.000000,0.000000,0.00,0.000000,0.000000
19,None,0.00,0.000000,0.000000,0.00,0.000000,0.000000
20,train_1c35dbf57f55f5e4.csv,1.20,0.510385,0.876733,2.34,0.001148,1.000000
21,train_9ee5879409dccef9.csv,0.00,0.000000,0.000000,1.68,0.019694,1.000000
22,train_71595dd7171f4540.csv,2.69,0.023360,0.842105,2.02,0.034142,1.000000
23,train_8c892e5525f3e491.csv,2.61,0.051249,0.987654,1.91,0.799222,0.999190
24,None,0.00,0.000000,0.000000,0.00,0.000000,0.000000
25,train_02e99bd4f6cfb33f.csv,1.79,0.109005,0.803911,0.00,0.000000,0.000000

In [19]:
mirror.to_csv('Naive_std_classifier.csv')

In [ ]:
# input_dir = './../train/KPI/'
# up_limit = 1.6
# low_limit = 2.1

# summary = pd.DataFrame(columns=['St', 'Anom', 'St_up', 'Anom_up', 'St_down', 'Anom_down'])
# i = 20

# # sup = [[None,0,0,0,0,0,0] for x in range(26)]

# fname = 'train_1c35dbf57f55f5e4.csv'



# df  = pd.read_csv(os.path.join(input_dir, fname), index_col='timestamp')

# # Check Labels
# x = df.label.groupby(df.label).count()
# g, b = x[0], x[1]
# # print(g,b)

# mu = df['value'].mean()
# std = df['value'].std()

# upper = df[ (df['value'] > (mu + up_limit * std)) ]
# upper = upper.label.groupby(upper['label']).count()
# lower = df[ (df['value'] < (mu - low_limit * std)) ]
# lower = lower.label.groupby(lower['label']).count()


# upper = format_df(upper)
# lower = format_df(lower)


# summary = summary.append({'St': g, 'Anom': b, 'St_up': upper['freq'][0], 'Anom_up': upper['freq'][1], 'St_down': lower['freq'][0], 'Anom_down': lower['freq'][1]}, ignore_index=True)

# up_ratio = (upper['freq'][1] - upper['freq'][0]) / b
# up_prec  = upper['freq'][1]/(upper['freq'][1] + upper['freq'][0])
# low_ratio = (lower['freq'][1] - lower['freq'][0]) / b
# low_prec  = lower['freq'][1]/(lower['freq'][1] + lower['freq'][0])


# print(up_limit, i, up_ratio, sup[i][2])

# # summary.to_csv('Dataset' + str(up_limit) +'.csv')



# if up_ratio > sup[i][2]:
#     sup[i][0] = fname
#     sup[i][1] = up_limit
#     sup[i][2] = up_ratio
#     sup[i][3] = up_prec

# if low_ratio > sup[i][5]:
#     sup[i][0] = fname
#     sup[i][4] = low_limit
#     sup[i][5] = low_ratio
#     sup[i][6] = low_prec

# i += 1

In [ ]:
sup[20]